server:
  port: 8888

app:
  api-prefix: /api/v1
  api-strip-prefix: 2

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8080
          predicates:
            - Path=${app.api-prefix}/user-service/**
          filters:
            - StripPrefix=${app.api-strip-prefix}
        - id: profile-service
          uri: http://localhost:8081
          predicates:
            - Path=${app.api-prefix}/profile-service/user-profile/**
          filters:
            - StripPrefix=${app.api-strip-prefix}